[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
bokeh = "*"
scipy = "*"
findspark = "*"
py4j = "*"
pyspark = "*"
scikit-learn = "*"
tensorflow = "*"
pyproj = "*"
geos = "*"
six = "*"
shapely = "*"
pycountry = "*"
plotly = "*"

[requires]
python_version = "3.7"
